.fleet/
.idea/
.zed/
node_modules/
public/build/
public/vendor/log-viewer/
public/hot
public/storage
storage/pail/
storage/*.key
vendor/

_ide_helper.php
_ide_helper_models.php
.env
.env.backup
.env.production
.phpactor.json
.phpunit.cache
.phpunit.result.cache
auth.json
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
pnpm-lock.yaml
TODO.md
yarn-error.log
